<app-nav-bar-accueil></app-nav-bar-accueil>
<div class="jumbotron my-4">

  Foire aux Questions

  LendMe, qu’est-ce que c’est?
 <br> <br> <br>
  LendMe est une plateforme de financement participatif avec contreparties en nature ou non. LendMe permet à des projets
  originaux, créatifs, solidaires et innovants de se faire financer par leur communauté.
  <br><br><br>
  En échange des participations, la personne responsable du projet peut offrir une ou plusieurs contreparties à choisir.
  Le projet doit atteindre 100% de son objectif pour récupérer les fonds et se réaliser afin de livrer ses contreparties.
  <br>
  <br>
  <br>
  <br>
  Qui peut utiliser LendMe ? Combien coûte l'inscription ?

  Tout le monde, quel que soit son âge, sa nationalité ou son pays d'origine, peut s'inscrire sur LendMe pour échanger
  avec la communauté, découvrir et faire parler des projets merveilleux présentés sur la plateforme.

  Pour contribuer à un projet : c’est ouvert à tout le monde !

  Pour lancer un projet : il faut avoir 18 ans (ou avoir un tuteur majeur) et habiter dans un pays de l’UE

  Combien coûte l'inscription ? R, Nada. Walou. L'inscription et la consultation de projets sont entièrement gratuits.
  <br>
  <br>
  <br>
  <br>
  Les Campagnes, comment ça marche ?

  Pour s'assurer que les moyens demandés par les porteurs de projet sont réalistes et correspondent au mieux à leurs
  besoins, les collectes de fonds se font sur une durée déterminée et avec un montant minimum déterminé.

  De cette façon, on évite au maximum les fausses promesses et les demi-mesures. Si l’objectif minimum n’était pas atteint
  vous n'auriez peut-être pas les moyens de financer réellement votre projet. Avec ce système, les projets se donnent
  toutes les chances de réussir, et les soutiens s'offrent la garantie que ces chances seront données.
  <br>
  <br>
  <br>
  <br>
  Proposer mon projet

  Pour proposer votre projet, vous devez passer par le formulaire dédié et le décrire dans ses grandes lignes. Indiquez la
  somme nécessaire à sa réalisation, le type de contreparties que vous souhaitez offrir à vos soutiens et quelques liens
  vers les sites, pages fans ou articles qui vont permettre à l'équipe de modération de mieux connaître votre travail.
  <br>
  <br>
  <br>
  <br>
  Soignez votre proposition !

  Les projets peuvent-ils récolter plus d'argent que l'objectif fixé ?

  Oui. Les projets peuvent bien sûr dépasser l'objectif fixé. Il n'y a aucune limite à la somme maximale qui peut être
  récoltée.
  Saut de page

  <br>
  <br>
  <br>
  <br>
  <br>
  Les 6 principes de base à retenir

  Impliquez-vous : il n'y a pas de formule magique

  Avoir son projet sur LendMe c'est bien, mais cela ne suffira pas à le faire financer. Soyez actif dans sa promotion.

  Un projet réussi est un projet qui donne envie

  Soyez généreux ! De grandes images, de belles vidéos, une présentation claire et soignée. Bref, communiquez votre envie
  !

  Un projet qui fait plaisir à découvrir se partage plus facilement.

  Intégrez bien le principe du "tout ou rien"

  Pour obtenir votre financement, il faut que vous atteigniez au moins votre objectif (objectif que vous pouvez dépasser
  !).

  Dans le cas contraire, vos soutiens sont remboursés sans frais.

  Créez un vrai rapport de confiance avec vos soutiens et déterminez au mieux votre budget.

  Trouvez bien plus que du financement

  Les personnes que vous allez toucher ce sont vos premiers clients, vos "early birds".

  Vous le verrez, au-delà du financement, c'est une vraie histoire qui s'écrit, où il est aussi question de conseils, de
  rencontres, et d'amitiés.

  Maîtrisez votre projet

  Vous êtes seul maître à bord de votre projet : vous conservez l'entière propriété intellectuelle de ce que vous faites.
  Cela implique aussi que vous êtes responsable de votre projet et des relations avec vos soutiens.

  Gardez le contact avec eux !

</div>

  <app-footer-accueil></app-footer-accueil>

