<ngx-ui-loader></ngx-ui-loader>

<body>

    <div class="wrap">
        <div class="loading outer">
          <div class="loading inner"></div>
        </div>
    </div>

    <!-- Navigation -->
    <app-nav-bar-accueil></app-nav-bar-accueil>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Features -->
      <div class="row text-center">

        <div class="container-fluid">


            <div class="row">

                <div class="col-lg-3 col-md-6 mb-4">

                    <img src="assets/img/icowl-cog.png" style="width:60%" />

                    <p>Pour comprendre comment LendMe fonctionne, vous pouvez lire notre <a href="https://support.LendMe.com/hc/fr-fr">aide en ligne</a></p>
                 </div>

                 <div class="col-lg-3 col-md-6 mb-4">

                    <img src="assets/img/icowl-grouch.jpg" style="width:70%"/>

                    <p>Si vous rencontrez un problème ou si vous souhaitez poser une question aux LendMeurs, n'hésitez pas à consulter ou à utiliser <a href="https://community.LendMe.com">le forum</a></p>
                 </div>

                 <div class="col-lg-3 col-md-6 mb-4">

                    <img src="assets/img/partenariat.jpg"  style="width:70%"/>

                    <p>Vous souhaitez en savoir plus sur nos partenariats BtoB ?<br><a href="https://brands.LendMe.com/contact/">Visitez notre site LendMe For Brands</a></p>
                 </div>

                 <div class="col-lg-3 col-md-6 mb-4">

                    <img src="assets/img/pen-pencil.png" style="width:70%" />

                    <p>Pas de réponses à vos questions ? Merci d'utiliser le <a routerLink="/form-contact" routerLinkActive="active">formulaire de contact</a>, nous vous répondrons dans les meilleurs délais.</p>
                 </div>


            </div>

          </div>




      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <app-footer-accueil></app-footer-accueil>


  </body>


