<ngx-ui-loader></ngx-ui-loader>
<div class="container login-container">
            <div class="row">

                <div class="col-md-5 login-form-1"></div>
                <div class="col-md-7 login-form-1">

                    <div class="control-group form-group"  style="margin-top:25%">

                        <div #recaptcha ></div>
                   </div>
                    
                    
                </div>

             
           
         


           

        </div>
</div>





