<ngx-ui-loader></ngx-ui-loader>

<body>

  <div class="wrap">
    <div class="loading outer">
      <div class="loading inner"></div>
    </div>
  </div>

  <!-- Navigation -->
  <app-nav-bar-accueil></app-nav-bar-accueil>

  <!-- Page Content -->
  <div class="container">


    <!-- Page Features -->
    <div class="row text-center">

      <div class="container-fluid">


        <div class="jumbotron my-4">

       <!--  <form [formGroup]="contactForm" (ngSubmit)="onFormSubmitContactBis()">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="ObjetFormCotact.email" formControlName="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"      placeholder="votre adresse e-mail *" />

              <div  *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required" >Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>



            <div class="text-center">
              <button class="btn btn-primary mr-1">Envoyer</button>
            </div>

          </form>-->
          <!----------------------------------------------------------------------------------------------->

         <form [formGroup]="contactForm" (ngSubmit)="onFormSubmitContact()">

            <div class="card mb-4 py-3 border-left-primary">
              <div class="card-body">
                <div class="form-group">
                  <h2>FORMULAIRE DE CONTACT</h2>
                </div>
              </div>
            </div>

            <p *ngIf="successSendMessage">
              <ngb-alert  type="success">Votre message a été envoyé avec succées</ngb-alert>
            </p>

            <div class="card mb-4 py-3 border-left-primary">
              <div class="card-body">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="ObjetFormCotact.email" formControlName="email"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    placeholder="votre adresse e-mail *" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required" >Le champ email est important !!!</div>
                      <div *ngIf="f.email.errors.email" >Le format de e-mail est invalide</div>
                    </div>
                </div>


              </div>
            </div>


            <div class="card mb-4 py-3 border-left-primary">
              <div class="card-body">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="ObjetFormCotact.sujet" formControlName="sujet"          class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sujet.errors }"
                    placeholder="votre sujet *" />

                    <div *ngIf="submitted && f.sujet.errors" class="invalid-feedback">
                      <div *ngIf="f.sujet.errors.required">Le champ sujet est important !!!</div>
                    </div>
                </div>


              </div>
            </div>

            <div class="card mb-4 py-3 border-left-primary">
              <div class="card-body">

                <textarea rows="5" cols="33" class="form-control" [(ngModel)] = "ObjetFormCotact.description" formControlName="description"  placeholder="description de mail *" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>

                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Le champ description est important !!!</div>
                </div>

              </div>


              </div>




            <div class="control-group form-group">

              <div #recaptcha></div>

            </div>

            <div class="alert alert-danger"  *ngIf="isErreurCaptcha">

              <strong>Erreur!</strong>  Veuillez valider votre captcha
            </div>

            <div class="text-center">
              <button class="btn btn-primary mr-1">Envoyer</button>
            </div>


          </form>

        </div>

      </div>




    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <app-footer-accueil></app-footer-accueil>


</body>
