<app-nav-bar-accueil></app-nav-bar-accueil>

<div class="container">

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Rambla M.</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C4D03AQHx8EYoHEw6bA/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=ao0_k74F7Z0gaL7r0GxoVH4d-zwYCFlu_c0m4vHzSOQ" >
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar ></div>
    <mat-card-title>J. Domingo</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C5603AQHYPXYXrQqknw/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=QYFhjqwosLsV8cGPqDdvGMxYK1gQAOmiJ8oQXHnsbB4" >
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar ></div>
    <mat-card-title>L. Renard</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://scontent-mrs2-1.xx.fbcdn.net/v/t1.0-0/p370x247/20620980_1282407618548364_8986298219697524555_n.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=dxwRuQPwNSoAX_btuxl&_nc_ht=scontent-mrs2-1.xx&tp=6&oh=a1e58f13e805e8ec3be50bf1161b0124&oe=5F7EC0AE" >
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card><mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>F. René-Corail</mat-card-title>
    <mat-card-subtitle>Developpeur FullStack</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://media-exp1.licdn.com/dms/image/C4D03AQFrslfQ7-yz9g/profile-displayphoto-shrink_200_200/0?e=1605139200&v=beta&t=z9DqcMHBo6Vtw9iIY8p-PvRad0nHIWDP3Rl19FbUAOA">
  <mat-card-content>
    <p>

    </p>
  </mat-card-content>
</mat-card>

</div>

<div class="space">
<app-footer-accueil></app-footer-accueil>
</div>

